@import "../../index.scss";

.app__specialMenu {
  flex-direction: column;
  background-color: var(--color-black);

  &-title {
    margin-bottom: 2rem;
    text-align: center;
  }

  &-menu {
    width: 100%;
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }
}
