@import "../../index.scss";

.app__header {
  background-color: var(--color-black);

  &-h1 {
    font-family: var(--font-base);
    font-size: 90px;
    color: var(--color-golden);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    line-height: 117px;
  }

  &-img {
    img {
      width: 80%;
    }
  }
}
